<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057717871229-qs9qmrmiiq1ajsn9o78aoukufifusofg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057717871229-qs9qmrmiiq1ajsn9o78aoukufifusofg</string>
	<key>API_KEY</key>
	<string>AIzaSyBivKEuOx764a41g1tK7yYdYtHPz_GZZmY</string>
	<key>GCM_SENDER_ID</key>
	<string>1057717871229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>int.who.WHOMyHealth</string>
	<key>PROJECT_ID</key>
	<string>who-myhealth-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>who-myhealth-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<false></false>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057717871229:ios:6eb7d73a768f00570dc714</string>
	<key>DATABASE_URL</key>
	<string>https://who-myhealth-staging.firebaseio.com</string>
</dict>
</plist>
