# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. 
#
# Security sensitive items must be at the end.
#
# All user entries should be alpha-sorted and lowercase.

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.

* @brunobowden

# Feature areas:

# Client UI
/client/flutter/ @britannio @brunobowden @theswerd

# Team-wide processes
/docs/ @brunobowden

# Server
/server/ @brunobowden

# API
/api/ @brunobowden

# ***** Security-sensitive - always keep these at the end. *****

# CI and CD; Note no production secrets shall be stored in this GitHub repo.
/.github/workflows/ @brunobowden
/.github/CODEOWNERS @brunobowden
