server/appengine/src/main/java/com/google/** linguist-vendored
gradlew linguist-vendored
gradlew.bat linguist-vendored
client/lib/generated/** linguist-generated
client/lib/proto/api/** linguist-generated
*.g.dart linguist-generated
