# Temp files
*~
\#*#

# Don't save away IntelliJ config, except code-style which all commits must follow.
.idea/*
!.idea/codeStyleSettings.xml

local.properties


## Build generated
build
DerivedData
cache/
out/
staticContentBuild/

# Android Studio
# Intellij IDEA (see https://intellij-support.jetbrains.com/entries/23393067)
# Note: Android Studio is a modified version of IntelliJ
*.iws

# Temporary personal files and directories
*-gitignore.*
*-gitignore

# COCOAPODS
Pods

# Xcode
# https://github.com/github/gitignore/blob/master/Global/Xcode.gitignore

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate


# OSX
#
.DS_Store

# Xcode
#
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
.idea
.gradle
*.iml

# Flutter
**/ios/Flutter/.last_build_id

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# Visual Studio

.classpath
.project
.settings

# Terraform
*.tfstate
*.tfstate.backup
.terraform
server/terraform/generated
