# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.

* @advaydev1 @brunobowden @crazybob @hspinks @sammousa

/client/flutter/ @patniemeyer

/client/flutter/lib/generated/intl/ @sapte91
/client/flutter/lib/l10n/ @sapte91

/server/ @crazybob

/docs/ @advaydev1 @hspinks
