<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767283588503-ilphq9evrvf90d03d2c67u8ef84q93h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767283588503-ilphq9evrvf90d03d2c67u8ef84q93h2</string>
	<key>API_KEY</key>
	<string>AIzaSyAg8dnNcHk1npywKbJsy7DA-S8M1al5lWo</string>
	<key>GCM_SENDER_ID</key>
	<string>767283588503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>int.who.WHOMyHealth</string>
	<key>PROJECT_ID</key>
	<string>who-mh-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>who-mh-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767283588503:ios:eb28ccba5e94f2a9de68d2</string>
	<key>DATABASE_URL</key>
	<string>https://who-mh-prod.firebaseio.com</string>
</dict>
</plist>