<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936622942451-bhjm61j553i0soe10b7vou3ebratp6bn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936622942451-bhjm61j553i0soe10b7vou3ebratp6bn</string>
	<key>API_KEY</key>
	<string>AIzaSyDmkF34SinD9jM10VSmZ6nj04KKtdWESII</string>
	<key>GCM_SENDER_ID</key>
	<string>936622942451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>int.who.WHOMyHealth</string>
	<key>PROJECT_ID</key>
	<string>who-myhealth-production</string>
	<key>STORAGE_BUCKET</key>
	<string>who-myhealth-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<false></false>
	<key>GOOGLE_APP_ID</key>
	<string>1:936622942451:ios:26bf3dfe5d0bb7f1076f86</string>
	<key>DATABASE_URL</key>
	<string>https://who-myhealth-production.firebaseio.com</string>
</dict>
</plist>