name: WHOFlutter
description: WHO Flutter app

version: 0.1.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  share: ^0.6.3+6
  url_launcher: ^5.4.2
  page_view_indicator: ^2.0.4
  flutter_staggered_grid_view: ^0.3.0
  flutter_html: ^0.11.1
  visibility_detector: ^0.1.4
  flare_flutter: ^2.0.1
  path_drawing: ^0.4.1
  shared_preferences: ^0.5.6
  yaml: ^2.2.0
  http: ^0.12.0+3

  intl: ^0.16.0
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.8.0

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/images/
    - assets/animations/
    - assets/news_press/
    - assets/onboarding/
    - assets/travel_advice/
    - assets/content_bundles/

flutter_intl:
  enabled: true
