name: who_app
description: COVID-19 app

# This app is published as a mobile app, not to pub.dev.
publish_to: none

# Prior to a production release, this version is the
# next expected version, and the `-git` suffix is a
# pre-release indicator.
# https://dart.dev/tools/pub/pubspec#version
version: 0.8.0+15-git

repository: https://github.com/WorldHealthOrganization/app

issue_tracker: https://github.com/WorldHealthOrganization/app/issues

# If the flutter sdk version in pubspec.lock changes,
# you must update /.github/workflows/flutter-*.yml to use same min Flutter version

environment:
  sdk: ">=2.8.1 <3.0.0"
  flutter: ">=1.17.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.3
  share: ^0.6.3+6
  url_launcher: ^5.4.2
  page_view_indicator: ^2.0.4
  flutter_html: ^0.11.1
  firebase_analytics: ^5.0.11
  visibility_detector: ^0.1.4
  flare_flutter: ^2.0.2
  path_drawing: ^0.4.1
  shared_preferences: ^0.5.6
  firebase_messaging: ^6.0.13
  location: ^3.0.1
  yaml: ^2.2.0
  http: ^0.12.0+3
  uuid: 2.0.4
  package_info: '>=0.4.0+16 <2.0.0'
  flutter_svg: ^0.17.3+1
  font_awesome_flutter: ^8.8.1
  firebase_crashlytics: ^0.1.3+3
  auto_size_text: 2.1.0
  flutter_cache_manager: ^1.1.3
  path_provider: ^1.6.5
  fl_chart: ^0.8.7
  s2geometry: 0.1.1
  notification_permissions: ^0.4.4
  expressions: 0.1.5

  intl: ^0.16.0
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.8.0

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/images/
    - assets/svg/
    - assets/animations/
    - assets/news_press/
    - assets/onboarding/
    - assets/travel_advice/
    - assets/content_bundles/

flutter_intl:
  enabled: true
