<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019264280603-ess3r5dam39hur3aehgd3ob6hl6pjuf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019264280603-ess3r5dam39hur3aehgd3ob6hl6pjuf1</string>
	<key>API_KEY</key>
	<string>AIzaSyATWv6UdIffm2lQyXvpog_HIESeaMOILjs</string>
	<key>GCM_SENDER_ID</key>
	<string>1019264280603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>int.who.WHOMyHealth</string>
	<key>PROJECT_ID</key>
	<string>who-mh-hack</string>
	<key>STORAGE_BUCKET</key>
	<string>who-mh-hack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019264280603:ios:f670199389d1884268b0be</string>
	<key>DATABASE_URL</key>
	<string>https://who-mh-hack.firebaseio.com</string>
</dict>
</plist>