<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782697208208-kkm2vf12l0js9ltphusvlr79c2cmoe6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782697208208-kkm2vf12l0js9ltphusvlr79c2cmoe6v</string>
	<key>API_KEY</key>
	<string>AIzaSyASZVUTMDzfxud-RdicFbH2nPsMlTL-JvI</string>
	<key>GCM_SENDER_ID</key>
	<string>782697208208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>int.who.WHOMyHealth</string>
	<key>PROJECT_ID</key>
	<string>who-mh2-dev1</string>
	<key>STORAGE_BUCKET</key>
	<string>who-mh2-dev1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782697208208:ios:74fff45695d1a3c2117b15</string>
</dict>
</plist>