name: Client Tests
on:
  push:
    paths:
      - '.github/workflows/**'
      - 'api/**'
      - 'client/app/**'
      - 'client/flutter/**'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/**'
      - 'api/**'
      - 'client/app/**'
      - 'client/flutter/**'
jobs:
  test:
    name: Test client on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - run: git clone https://github.com/flutter/flutter.git --depth 1 -b v1.12.13+hotfix.8 _flutter
      - run: echo "::add-path::$GITHUB_WORKSPACE/_flutter/bin"
      - run: flutter pub get
        working-directory: ./client/app
      - run: flutter analyze --no-pub
        working-directory: ./client/app
      - run: flutter format lib/** --set-exit-if-changed 
        working-directory: ./client/app
      - run: flutter test --no-pub
        working-directory: ./client/app

