name: Server Tests

on:
  push:
    paths:
      - 'server/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'server/**'

jobs:
  junit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '12.0.2'
        architecture: x86
    - uses: eskatos/gradle-command-action@v1
      with:
        gradle-version: 5.2.1
    - run: gradle wrapper && ./gradlew test
      working-directory: server
